.footer {
  padding: rem-calc(30) rem-calc(20);
  color: white;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (min-width: 768px) {
      flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 25px;
  }
  h2 {
    margin-bottom: rem-calc(20);
    font-family: $title-font;
    font-weight: 400;
    @media screen and (min-width: 768px) {
      text-align: center;
      margin: 0;
    }
  }
  &__nav {
    margin: rem-calc(10) 0;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 25px;
    }
    &_1{
        :nth-child(1)::before {
            content: "\f2e7";
            font-family: "FontAwesome";
            margin-right: rem-calc(10);
            font-size: clamp(1.3rem, 2vw, 1.7rem);
          }
          :nth-child(2)::before {
            content: "\f4c4";
            font-family: "FontAwesome";
            margin-right: rem-calc(10);
            font-size: clamp(1.3rem, 2vw, 1.7rem);
          }
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 7px;
            font-weight: 500;
          }
    }
    &_2{
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            gap: 7px;
          }
    }
    li {
      margin-bottom: rem-calc(3);
      @media screen and (min-width: 768px) {
        display: flex;
      }
     
      a {
        transition: color 0.4s ease-in-out;
        &:hover,
        &:focus {
          color: $light-primary-color;
        }
      }
    }
  }
}
