.main {
  // Section "Location"
  &__location {
    height: rem-calc(70);
    background-color: #eaeaea;
    @include flex-center;
    p::before {
      content: "\f3c5";
      font-family: "FontAwesome";
      margin-right: rem-calc(15);
      .localisation-form .input-form {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    }
  }
  // Section "Description"
  &__description {
    flex-direction: column;
    padding: rem-calc(50) rem-calc(20) rem-calc(60);
    text-align: center;
    background-color: #f6f6f6;
    @include flex-center;
    h1{
      font-family: "roboto";
      font-weight: 700;
      font-size: 24px;
      @media (min-width: 767px) {
        /* Taille de police pour les écrans mobiles */
        font-size: 40px;
      }
    }

    h2 {
      font-family: "roboto";
      font-weight: 700;
      font-size: 24px;
      @media  (min-width: 768px) {
        // Taille de police pour les écrans de bureau (desktop)
        font-size:40px;
    }
    }
    p{
      font-size: 18px;
    }

    // Sous-section "text"
    &__text {
      margin: rem-calc(15) 0 rem-calc(35);
      font-weight: 300;
    }

    // Bouton stylisé
    &__btn {
      @include base-shadow;
      @include button-style;
      @media screen and (min-width: 768px) {
        padding: rem-calc(20);
      }
      &:hover {
        @include button-hover;
      }
    }
  }
    // Section "Process"
  &__process {
    @include flex-center;
    flex-direction: column;
    padding: rem-calc(40) rem-calc(20);
    width: 100%;
    @media  (min-width: 1025px) {
      padding:2.5rem 10% 2.5rem 10%;
    }
    // Sous-section "process_fonctionnement"
    .main__process_fonctionnement {
      margin-bottom: rem-calc(25);
      width: 100%;

      h2 {
        font-size: 24px;
        font-weight: bold;
      }
    }
     // Sous-section "tableau"

    &_tableau {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
        // Sous-section "process_step"

      .main__process__step {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
        width: 100%;
        height: 72px;
        margin-bottom:25px;
        padding: 0 20px;
        border-radius: rem-calc(20);
        cursor: pointer;
        background-color: #f6f6f6;
        transition: all 0.4s ease-in-out;
        @include base-shadow;
        @media screen and (min-width: 768px) {
          padding: 15px;
          justify-content: center;
          width: 30%;
          height: 72px;
        }
        div {
          @include flex-center;
          position: absolute;
          left: -12px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          font-size: 14.182px;
          color: white;
          background-color: $color-primary;
        }
        p {
          font-size: 16px;
        }
         // Icône "choisir"
        &#choisir::after {
          content: "\f3cf";
          color: #00000063;
          @include logo-process;
        }
          // Icône "composer"
        &#composer::after {
          content: "\f03a";
          color: #00000063;
          @include logo-process;
        }
          // Icône "deguster"
        &#deguster::after {
          content: "\f54e";
          color: $color-primary;
          font-family: 'FontAwesome';
          margin-left: rem-calc(30);
          margin-right: rem-calc(10);
          width: rem-calc(30);
          font-size: clamp(1.3rem, 3vw, 1.8rem);
          transition: all 0.4s ease-in-out;
          @media screen and (min-width: 768px) {
              margin-left: 0; 
              margin-right: rem-calc(30);
          }
        }
        &:focus div {
          display: none;
        }
        &:hover,
        &:focus {
          background-color: lighten($color-primary, 35%);
          &:hover::after,
          &:focus::after {
            color: $color-primary;
          }
        }
      }
    }
  }
}

 // Styles généraux pour la section "Restaurant"
.main__restaurant {
  padding: 9px 9px 66px 9px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding-left: 20px;
  padding-right: 20px;
    // Media query pour les écrans larges
  @media  (min-width: 1025px) {
    padding:2.5rem 10% 2.5rem 10%;
  }

 // Sous-section "restaurant-titre"
  .main__restaurant-titre {
    margin-bottom: rem-calc(10);
    width: 100%;
    
     // Styles pour le titre
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 18px;
    }

      // Sous-section "card"
  }
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 18px;
      // Media query pour les écrans larges
    @media  (min-width: 1025px) {
     row-gap: 50px;
    }
    
    // Élément "a" (lien)
    a {
      position: relative;
      width: 100%;
      max-width: rem-calc(650);
      height: 251px;
      border-radius: rem-calc(20);
      overflow: hidden;
      color: black;
      @include base-shadow;
       // Media query pour les écrans moyens
      @media (min-width: 768px) {
        width: 45%;
      }

      // Sous-section "figure"
      figure {
        height: 70%;
        @include flex-center;
      }
      figure::before {
        z-index: 1;
      }

       // Paragraphe stylisé
      p {
        font-weight: 300;
      }

       // Sous-section "info"
    }
    &__info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30%;
      padding: rem-calc(10) rem-calc(15);
       // Titre stylisé
      h3 {
        font-weight: 700;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

         // Élément "heart"
      &__heart {
        @include flex-center;
        position: absolute;
        right: 25px;
        bottom: 33px;
        width: rem-calc(30);
        height: rem-calc(30);
        &::before {
          @include heart;
        }
        &::after {
          @include heart;
          @include heart-solid;
        }

         // Effet au survol pour le cœur
        &:hover::before {
          color: transparent;
        }
        &:hover::after {
          font-weight: 900;
          opacity: 1;
        }
      }
    }
  }
}
