// Header

.header {
  position: relative;
  &__return {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    padding: 5px;
    i {
      font-size: clamp(1.5rem, 2vw, 2rem);
    }
  }
}

.main {
  &__banner {
    position: absolute;
    height: 383px;
    @media screen and (min-width: 1025px) {
      position: static;
    }

  }
  &__location h3 {
    font-weight: 400;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 rem-calc(40);
    position: relative;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1025px) {
      display: flex;
      margin: 0 auto;
      padding-left: 150px;
      padding-right: 150px;
      margin-top: -403px;
      justify-content: center;
    }

    .background_menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
      background-color: #f6f6f6;
      border-radius: rem-calc(30) rem-calc(30) 0 0;
      padding-bottom: 40px;
      margin-top: 345px;
      @media (min-width: 768px) {
        width: 1055px;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Shrikhand", cursive;
      font-weight: 500;
      padding: 0px rem-calc(20);
      padding-top: 32px;
      width: 100%;
      font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      @media screen and (min-width: 768px) {
        justify-content: center;
      }
    }
    .heart {
      @include flex-center;
      width: rem-calc(30);
      height: rem-calc(30);
      @media screen and (min-width: 768px) {
        margin-left: rem-calc(20);
      }
      &::before {
        @include heart;
      }
      &::after {
        @include heart;
        @include heart-solid;
      }
      &:hover::before {
        color: transparent;
      }
      &:hover::after {
        font-weight: 900;
        opacity: 1;
      }
    }
    &__starter,
    &__dish,
    &__dessert {
        padding: 0px 13px;
        width: 100%;
        @media (min-width: 768px) {
          padding: 0px 210px;
        padding-bottom: 8px;
      }
      h3 {
        position: relative;
        margin-bottom: rem-calc(30);
        font-weight: 300;
        text-transform: uppercase;
        &::before {
          content: "";
          position: absolute;
          bottom: rem-calc(-10);
          width: rem-calc(50);
          height: rem-calc(4);
          background-color: $color-tertiary;
          
        }
      }
    }
    &__btn {
      @include button-style;
      @include base-shadow;
      padding: rem-calc(15) rem-calc(40);
      margin: 0 auto;
      &:hover {
        @include button-hover;
      }
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.meal {
  display: flex;
  width: 100%;
  @include base-shadow;
  border-radius: rem-calc(10);
  margin-top: rem-calc(20);
  cursor: pointer;
  overflow: hidden;
  animation: appear 1s both;
  background: white;
  

  @for $i from 2 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }
  &__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: rem-calc(10);
    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 500;
      font-family: "roboto";
      margin-bottom: 7px;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 200;
      font-size: 16px;
    }
  }
  &__price {
    font-weight: 500;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    padding: rem-calc(10) rem-calc(25) rem-calc(10) rem-calc(5);
  }
  &__check {
    @include flex-center;
    margin-right: -65px;
    width: 65px;
    padding: 0 rem-calc(15);
    background-color: $color-tertiary;
    transition: margin-right 0.4s ease-in-out;
    &::after {
      content: "\f00c";
      font-family: "FontAwesome";
      padding: rem-calc(5);
      border-radius: 50%;
      color: $color-tertiary;
      font-size: rem-calc(15);
      background-color: #fff;
      transition: transform 0.4s ease-in-out;
      @media screen and (min-width: 768px) {
        padding: rem-calc(10);
      }
    }
  }
  &:hover &__check,
  &:focus &__check {
    margin-right: 0;
  }
  &:hover &__check::after,
  &:focus &__check::after {
    transform: rotate(360deg);
  }
}
